#myBody{
    background-color: #697780;
}
button{
    pointer-events: auto;
    cursor: pointer;
}
.gameElement {
    align-items: center;
    padding: 3px;
    text-align: center;
    max-width: 600px;
    background-color: white;
    margin: auto;
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 1px;
    
    /* align-items: center;
    margin-bottom: 5px;
    margin-right: 5px;
    border-bottom: solid 1px black; */
}
.games{
    margin-left: 5px;
}
.gameLogo{
    height: 50px;
    width: 50px;
    border: 1px solid black;
}
.gameName{
    text-align: center;
}
.title{
    text-align: center;
}
.inputs{
    text-align: center;
}
.redLogo{
    margin: auto;
    display: block;
    margin-bottom: 0px;
}
.gamesContainer{
    padding-top: 5px;
    max-width: 600px;
    background-color: white;
    margin:auto;
    margin-bottom: -5px;
    padding-bottom: 5px;
}
.topContain{
    max-width: 600px;
    background-color: #800080;
    margin: auto;
    border-top-right-radius: 1em;
    border-top-left-radius: 1em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.bottomContain{
    max-width: 600px;
    background-color: #800080;
    margin: auto;
    margin-bottom: 10px;
    height: 20px;
    border-bottom-right-radius: 1em;
    border-bottom-left-radius: 1em;
}

.pagination {
    /* display: inline-block; */
    margin: auto;
    align-items: center;
}

.pagination a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}